<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PathComponent" Directory="APPLICATIONFOLDER">
      <Component Id="PathEnvironmentVariable" Guid="A6734AA2-8C86-49D5-8501-2DD147D7C816">
        <RegistryValue Root="HKCU" Key="Software\Espressif\eim" Name="PathInstalled" Type="integer" Value="1" KeyPath="yes" />
        <Environment
          Id="PATH"
          Name="Path"
          Value="[APPLICATIONFOLDER]"
          Permanent="no"
          Part="last"
          Action="set"
          System="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
