name: Autotest CLI

on:
  workflow_call:
    inputs:
      run_id:
        required: true
        type: string
      ref:
        required: true
        type: string

  workflow_dispatch:
    inputs:
      run_id:
        description: "The run id from which to take binaries"
        required: true
        type: string

jobs:
  test:
    name: CLI (${{ matrix.package_name }}${{ matrix.run_on == 'MirrorRunner' && '-AlternateMirrors' || '' }}${{contains(github.event.pull_request.labels.*.name, 'CNRUNNER') && '-CN' || '' }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            package_name: linux-x64
            run_on: GitHub
          - os: windows-latest
            package_name: windows-x64
            run_on: GitHub
          - os: macos-latest
            package_name: macos-aarch64
            run_on: GitHub
          - os: ubuntu-24.04-arm
            package_name: linux-aarch64
            run_on: ExtraRunner
          - os: macos-15-intel
            package_name: macos-x64
            run_on: ExtraRunner
          - os: ${{ github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'CNRUNNER') && 'self-hosted' || 'ubuntu-latest' }}
            package_name: linux-x64
            run_on: MirrorRunner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: eim-cli-${{ matrix.package_name }}-*
          path: ./artifacts
          merge-multiple: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.run_id }}

      # Non-Windows steps

      - name: Get CLI application version number (non-Windows)
        if: matrix.os != 'windows-latest'
        run: |
          git fetch --tags
          LATEST_TAG=$(git tag --sort=-creatordate | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
          STRIPPED_TAG=${LATEST_TAG#v}
          echo "CLI_TAG=$STRIPPED_TAG" >> $GITHUB_ENV

      - name: Check artifact and make it executable (non-Windows)
        if: matrix.os != 'windows-latest'
        run: |
          ls -la ./artifacts/
          chmod +x artifacts/eim

      - name: Install dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: |
          sudo apt-get update
          sudo apt-get install -y git wget flex bison gperf ccache libffi-dev libssl-dev dfu-util libusb-1.0-0-dev libgcrypt20 libglib2.0-0 libpixman-1-0 libsdl2-2.0-0 libslirp0

      - name: Install dependencies (MacOS)
        if: matrix.os == 'macos-latest' || matrix.os == 'macos-15-intel'
        run: |
          brew install dfu-util libgcrypt glib pixman sdl2 libslirp

      - name: Run IDF basic install test script (non-Windows)
        if: matrix.os != 'windows-latest' && matrix.run_on != 'MirrorRunner'
        run: |
          python3 --version
          export LOG_TO_FILE="true"
          export PACKAGE_NAME="${{ matrix.package_name }}"
          export EIM_CLI_PATH="../artifacts/eim"
          export EIM_CLI_VERSION="eim ${{ env.CLI_TAG }}"
          cd tests
          npm ci
          npm run test-CLI --file=CLI-basic
        continue-on-error: true

      - name: Run IDF extended install test script (non-Windows)
        if: matrix.os != 'windows-latest' && matrix.run_on != 'MirrorRunner' && matrix.run_on !='ExtraRunner' && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'EXTENDEDTEST')
        run: |
          python3 --version
          export LOG_TO_FILE="true"
          export PACKAGE_NAME="${{ matrix.package_name }}"
          export EIM_CLI_PATH="../artifacts/eim"
          export EIM_CLI_VERSION="eim ${{ env.CLI_TAG }}"
          cd tests
          npm run test-CLI --file=CLI-extended
        continue-on-error: true

      - name: Run mirrors basic test script (MirrorRunner)
        if: matrix.run_on == 'MirrorRunner'
        run: |
          python3 --version
          export LOG_TO_FILE="true"
          export PACKAGE_NAME="${{ matrix.package_name }}"
          export EIM_CLI_PATH="../artifacts/eim"
          export EIM_CLI_VERSION="eim ${{ env.CLI_TAG }}"
          cd tests
          npm ci
          npm run test-CLI --file=CLI-mirrors-basic
        continue-on-error: true

      - name: Run mirrors extended test script (MirrorRunner)
        if: matrix.run_on == 'MirrorRunner' && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'EXTENDEDTEST')
        run: |
          python3 --version        
          export LOG_TO_FILE="true"
          export PACKAGE_NAME="${{ matrix.package_name }}"
          export EIM_CLI_PATH="../artifacts/eim"
          export EIM_CLI_VERSION="eim ${{ env.CLI_TAG }}"
          cd tests
          npm ci
          npm run test-CLI --file=CLI-mirrors-extended
        continue-on-error: true

      # Windows steps

      - name: Get CLI application version number (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          git fetch --tags
          $LATEST_TAG = (git tag --sort=-creatordate | Where-Object { $_ -match '^v[0-9]+\.[0-9]+\.[0-9]+$' } | Select-Object -First 1)
          $STRIPPED_TAG = $LATEST_TAG -replace '^v', ''
          echo "CLI_TAG=$STRIPPED_TAG" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Check artifact (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          ls ./artifacts/

      - name: Update Python (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Run IDF basic install test script (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          python3 --version        
          $env:LOG_TO_FILE="true"
          $env:PACKAGE_NAME="${{ matrix.package_name }}"
          $env:EIM_CLI_PATH = "..\artifacts\eim.exe"
          $env:EIM_CLI_VERSION = "eim ${{ env.CLI_TAG }}"
          Set-Location -Path "./tests"
          Expand-Archive node_modules.zip
          npm run test-CLI-win --file=CLI-basic
        continue-on-error: true

      - name: Run IDF extended install test script (Windows)
        if: matrix.os == 'windows-latest' && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'EXTENDEDTEST')
        run: |
          python3 --version        
          $env:LOG_TO_FILE="true"
          $env:PACKAGE_NAME="${{ matrix.package_name }}"
          $env:EIM_CLI_PATH = "..\artifacts\eim.exe"
          $env:EIM_CLI_VERSION = "eim ${{ env.CLI_TAG }}"
          Set-Location -Path "./tests"
          npm run test-CLI-win --file=CLI-extended
        continue-on-error: true

      # Copy eim log files to standard location for easier access
      - name: Copy EIM Log files (ubuntu)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm' || matrix.os == 'self-hosted'
        run: |
          cp ~/.local/share/eim/logs/*.log ./tests/
        continue-on-error: true

      - name: Copy EIM Log files (MacOS)
        if: matrix.os == 'macos-latest' || matrix.os == 'macos-15-intel'
        run: |
          cp ~/Library/Application\ Support/eim/logs/*.log ./tests/
        continue-on-error: true

      - name: Copy EIM Log files (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          Move-Item -Path "$env:LOCALAPPDATA\eim\logs\*" -Destination ".\tests\" -Force
        continue-on-error: true

      # Upload test results
      - name: Upload test results (non-windows)
        uses: actions/upload-artifact@v4
        if: matrix.os != 'windows-latest'
        with:
          name: autotest-CLI-results-${{ matrix.package_name }}${{ matrix.run_on == 'MirrorRunner' && '-AlternateMirrors' || '' }}${{contains(github.event.pull_request.labels.*.name, 'CNRUNNER') && '-CN' || '' }}
          path: |
            ./tests/results-*.json
            ./tests/*.log

      - name: Upload test results (windows)
        uses: actions/upload-artifact@v4
        if: matrix.os == 'windows-latest'
        with:
          name: autotest-CLI-results-${{ matrix.package_name }}${{ matrix.run_on == 'MirrorRunner' && '-AlternateMirrors' || '' }}${{contains(github.event.pull_request.labels.*.name, 'CNRUNNER') && '-CN' || '' }}
          path: |
            ./tests/results-*.json
            ./tests/*.log

      - name: Clean Up runner (Self-hosted MirrorRunner)
        if: matrix.run_on == 'MirrorRunner' && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'EXTENDEDTEST') && contains(github.event.pull_request.labels.*.name, 'CNRUNNER')
        run: |
          rm -rf ~/.local/share/eim
          rm -rf ~/runner/_work/idf-im-ui
        continue-on-error: true

      # Publish test results
      - name: Publish Test Results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: CLI-Autotests-${{ matrix.package_name }}
          path: ./tests/results-*.json
          path-replace-backslashes: "false"
          reporter: mocha-json
          fail-on-empty: true
